---
layout: base
---

<div class="row my-5">
	<div class="col-10 mx-auto">
		<img class="hero mx-auto d-block" src="{{ site.baseurl }}/images/hero-panel.png" />

		<div class="banner mt-5 mx-5">
			We’re getting married! Rather than a traditional wedding, we’re doing two parties: one west coast, one east coast.
		</div>  <!-- hero-text -->
	</div>  <!-- col -->
</div>  <!-- row -->


{% include east.html %}
{% include west.html %}
{% include gifts.html %}

<div class="row my-5">
	<div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
		<img class="hero shadowed mx-auto d-block" src="{{ site.baseurl }}/images/matt-sophie-brock.png" />
	</div>  <!-- col -->
</div>  <!-- row -->
