body {
  background-color: #13BDB3;
  font-family: letter-gothic-std, monospace; }
  body h1, body h2 {
    font-family: lores-12, sans-serif;
    font-weight: 700; }
  body .title {
    font-weight: 700;
    font-size: 110%; }
  body a {
    color: black;
    text-decoration: underline; }
  body a:hover {
    color: #F031D1; }

.btn {
  color: #ffffff;
  text-decoration: none; }

.btn:hover {
  color: #ffffff;
  text-decoration: none; }

.btn-accent {
  background-color: #F031D1; }

.btn-accent:hover {
  background-color: #de10bc; }

.btn-paypal {
  background-color: #1e477a; }

.btn-paypal:hover {
  background-color: #142f51; }

.btn-venmo {
  background-color: #3d95ce; }

.btn-venmo:hover {
  background-color: #2c7aac; }

.hero {
  width: 100%; }

.banner {
  background-color: #F031D1;
  box-shadow: 5px 5px 2px #ffffff;
  color: #ffffff;
  font-size: 125%;
  padding: 20px; }

.shadowed {
  -webkit-filter: drop-shadow(5px 5px 2px #A3118C);
  filter: drop-shadow(5px 5px 2px #A3118C); }

.info-box {
  background-color: #ffffff;
  box-shadow: 5px 5px 2px #A3118C; }

.state {
  width: 100%;
  min-width: 100px;
  max-width: 200px; }

.nh {
  min-width: 50px;
  max-width: 100px; }

.credit {
  color: #454545;
  font-size: 85%; }
  .credit a {
    color: #454545;
    text-decoration: underline; }
  .credit a:hover {
    color: #2c2c2c; }
