<div class="row my-5">
	<div class="info-box col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto p-3">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">East Coast</h2>
			</div>
		</div>  <!-- row -->
		<div class="row mt-4">
			<div class="state-col col-md-4 col-sm-12 col-xs-12 px-4">
				<img class="state nh mx-auto d-block" src="{{ site.baseurl }}/images/new_hampshire.png" />
			</div>  <!-- col -->
			<div class="col-md-8 col-sm-12 col-xs-12">
				<p>With the west coast party done, we are looking forward to partying it up on the east coast! The afternoon will include a small ceremony.</p>

				<p>
					<span class="title">Party</span><br />
					<span>Saturday September 28, 2019</span><br />
					<span>3PM onward</span><br />
					<span>406 Partridge Lake Road, Littleton, NH 03561</span>
				</p>

				<p>Food and drinks will be provided.</p>

				<p class="text-center"><a class="btn btn-accent btn-sm" href="mailto:dahood87@gmail.com?subject=I'm coming to the west coast party!">RSVP to Sophie (dahood87@gmail.com)</a></p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- col -->
</div>  <!-- row -->
