<div class="row my-5">
	<div class="info-box col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto p-3">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">Gifts</h2>
			</div>
		</div>  <!-- row -->
		<div class="row mt-4">
			<div class="col-12">
				<p>Sophie and Matt have lived together for a decade, so they have accumulated all the household things they need. In lieu of physical gifts, money towards a honeymoon trip would be much appreciated! Sophie and Matt met in Tokyo on a study abroad trip and plan to honeymoon in Japan and Hawaii.</p>

				<p>Those wishing to make a contribution can do so in person at either celebration (cash or check) or digitally via PayPal (Matthew.Mukerjee@gmail.com) or Venmo (Matthew-Mukerjee).</p>

				<p class="text-center">
					<a class="btn btn-paypal btn-sm" target="_blank" href="https://www.paypal.me/MatthewMukerjee"><img height="14px" src="{{ site.baseurl }}/images/paypal.png"/></a>
					<a class="btn btn-venmo btn-sm" target="_blank" href="https://venmo.com/Matthew-Mukerjee"><img height="12px" src="{{ site.baseurl }}/images/venmo.png"/></a>
				</p>

				<p>Most of all we can't wait to see you!!</p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- col -->
</div>  <!-- row -->
