<div class="row my-5">
	<div class="info-box col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto p-3">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">Gifts</h2>
			</div>
		</div>  <!-- row -->
		<div class="row mt-4">
			<div class="col-12">
				<p>Matt and Sophie do not have a registry, but they are saving up to do a honeymoon trip to Hawaii and Japan! If you'd like to help them make the trip possible....</p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- col -->
</div>  <!-- row -->
