<div class="row my-5">
	<div class="info-box col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto p-3">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">West Coast</h2>
			</div>
		</div>  <!-- row -->
		<div class="row mt-4">
			<div class="state-col col-md-4 col-sm-12 col-xs-12 px-4">
				<img class="state mx-auto d-block" src="{{ site.baseurl }}/images/california.png" />
			</div>  <!-- col -->
			<div class="col-md-8 col-sm-12 col-xs-12">
				<p>
					<span class="title">BBQ/Potluck Picnic</span><br />
					<span>Saturday June 22, 2019</span><br />
					<span>11AM to 6PM</span><br />
					<span>Fern Picnic Area, <a href="https://www.ebparks.org/parks/tilden/">Tilden Regional Park</a></span>
				</p>
				<p>We'll provide BBQ and drinks; contact Sophie (<a href="mailto:dahood87@gmail.com">dahood87@gmail.com</a>) to coordinate bringing a dish to share.</p>
				<p>Join us at 2PM for the Commitment Ceremony.</p>

				<p>Attire is casual (it&apos;s a picnic&#x21;), but feel free to dress up if that&apos;s your jam (we will&#x21;).</p>

				<p>
				<a data-toggle="collapse" href="#tilden-directions" role="button" aria-expanded="false" aria-controls="tilden-directions">
					Directions
				</a>

				<div class="collapse" id="tilden-directions">
				  <div>
					  <p><b>From Highway 24:</b> Take the Fish Ranch Road exit. Up Fish Ranch Road, right on Grizzly Peak Blvd, right on S. Park Drive, then left on Wildcat Canyon Road. Continue for 0.9 miles, then veer right on Central Park Drive. Continue 0.6 miles; Fern will be on your left.</p>

					  <p><b>From Interstate 80:</b> Take the Buchanan Street exit. Continue east along Buchanan Street, in 0.4 miles veer right, Buchanan becomes Marin Avenue. At the traffic circle turn onto Los Angeles Avenue, heading uphill. Left on Spruce Street. At the top of Spruce, continue straight across the Grizzly Peak Blvd intersection, then make an immediate left onto Canon Drive. Continue to the bottom of Canon, turn right onto Central Park Drive. Continue 0.4 miles; Fern will be on your right.</p>
				  </div>
				</div>  <!-- collapse -->
				</p>

				<p class="text-center"><a class="btn btn-accent btn-sm" href="mailto:dahood87@gmail.com">RSVP to Sophie (dahood87@gmail.com)</a></p>

				<p>
					<span class="title">Afterparty</span><br />
					<span>Saturday June 22, 2019</span><br />
					<span>6PM onward</span><br />
					<span>1242 Evelyn Ave, Berkeley</span>
				</p>
				<p>You are welcome over to Matt and Sophie's place for food and good times part 2!</p>

				<p>
					<span class="title">Breakfast</span><br />
					<span>Sunday June 23, 2019</span><br />
					<span>1242 Evelyn Ave, Berkeley</span>
				</p>
				<p>If you are still around, join us at our place for bagels, tea, and coffee.</p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- col -->
</div>  <!-- row -->
