<div class="row my-5">
	<div class="info-box col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto p-3">
		<div class="row my-3">
			<div class="col-12">
				<h2 class="text-center">West Coast</h2>
			</div>
		</div>  <!-- row -->
		<div class="row mt-4">
			<div class="state-col col-md-4 col-sm-12 col-xs-12 px-4">
				<img class="state mx-auto d-block" src="{{ site.baseurl }}/images/california.png" />
			</div>  <!-- col -->
			<div class="col-md-8 col-sm-12 col-xs-12">
				<p>
					<span class="title">BBQ/Potluck Picnic</span><br />
					<span>Saturday June 22, 2019</span><br />
					<span>11AM to 6PM</span><br />
					<span>Fern Picnic Area, Tilden Regional Park</span>
				</p>
				<p>TODO: info about food/drink, parking, bathrooms, etc.</p>

				<p>
					<span class="title">Afterparty</span><br />
					<span>Saturday June 22, 2019</span><br />
					<span>6PM onward</span><br />
					<span>1242 Evelyn Ave, Berkeley</span>
				</p>
				<p>You are welcome over to Matt and Sophie's place for food and good times part 2!</p>

				<p>
					<span class="title">Breakfast (brunch?)</span><br />
					<span>Sunday June 23, 2019</span><br />
					<span>Time??</span><br />
					<span>Home?? Place??</span>
				</p>
				<p>If you are still around, join us for breakfast too!</p>
			</div>  <!-- col -->
		</div>  <!-- row -->
	</div>  <!-- col -->
</div>  <!-- row -->
