---
---

// colors
$light_pink: #F031D1;
$light_teal: #13BDB3;
$dark_pink: #A3118C;
$dark_teal: #19A39B;
$yellow: #F2D349;

$primary_color: $light_teal;
$primary_hover_color: darken($primary_color, 10%);
$secondary_color: $light_pink;
$secondary_hover_color: darken($secondary_color, 10%);

// fonts
$font_stack_body: letter-gothic-std, monospace;
$font_stack_header: lores-12, sans-serif;


body {
	background-color: $primary_color;
	font-family: $font_stack_body;

	h1, h2 {
		font-family: $font_stack_header;
		font-weight: 700;
	}

	.title {
		font-weight: 700;
		font-size: 110%;
	}

	a {
		color: black;
		text-decoration: underline;
	}
	a:hover {
		color: $secondary_color;
	}
}

.hero {
	width: 100%;
}

.shadowed {
    -webkit-filter: drop-shadow(5px 5px 2px $dark_pink);
    filter:drop-shadow(5px 5px 2px $dark_pink);
}

.info-box {
	background-color: #ffffff;
	box-shadow: 5px 5px 2px $dark_pink;
}

//.state-col {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//}

.state {
	width: 100%;
	min-width: 100px;
	max-width: 200px;
}

.nh {
	min-width: 50px;
	max-width: 100px;
}
